<%= content_for(:title, "Rake tasks") %>

<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="text-center d-flex align-items-center justify-content-center">
      <i class="fa fa-check-circle fa-2x margin-right-md"></i>
      <span><%= flash[:notice] %></span>
    </div>
  </div>
<% end %>

<div class="rake-tasks-grid">
  <% @rake_tasks.each do |task| %>
    <div class="rake-tasks-task-name">
      <%= t(task, scope: 'trestle_rake_tasks', default: task) %>
    </div>
    <div class="rake-tasks-task-spawn">
      <%= form_tag admin.path(:run_task), id: "update_#{task}_form", method: :post, class: 'form-inline mb-2', style: 'width: 100%;' do %>
        <%= hidden_field_tag('task', task, id: "task_#{task}", class: 'form-check-input') %>
        <%= submit_tag(t('run', scope: 'trestle_rake_tasks', default: 'Run'), class: 'btn btn-success') %>
      <% end %>
    </div>
  <% end %>
</div>
